
.vi-part-category-default:before { content: '\e800'; } /* '' */
.vi-checkpoint:before { content: '\e801'; } /* '' */
.vi-fatal_accident:before { content: '\e802'; } /* '' */
.vi-default:before { content: '\e803'; } /* '' */
.vi-junction:before { content: '\e804'; } /* '' */
.vi-part-category-communication:before { content: '\e805'; } /* '' */
.vi-terminal:before { content: '\e806'; } /* '' */
.vi-sluice:before { content: '\e807'; } /* '' */
.vi-bridge:before { content: '\e808'; } /* '' */
.vi-part-category-accommodation:before { content: '\e809'; } /* '' */
.vi-environmentally_hazardous:before { content: '\e80a'; } /* '' */
.vi-berth:before { content: '\e80b'; } /* '' */
.vi-loading_unloading_accident:before { content: '\e80c'; } /* '' */
.vi-loss_of_charge:before { content: '\e80d'; } /* '' */
.vi-fire_on_board:before { content: '\e80e'; } /* '' */
.vi-man_overboard:before { content: '\e80f'; } /* '' */
.vi-run_aground:before { content: '\e810'; } /* '' */
.vi-personal_injury:before { content: '\e811'; } /* '' */
.vi-part-category-navigation-system:before { content: '\e812'; } /* '' */
.vi-part-category-reservoir:before { content: '\e813'; } /* '' */
.vi-part-category-loading-pump:before { content: '\e814'; } /* '' */
.vi-part-category-battery:before { content: '\e815'; } /* '' */
.vi-part-category-winch:before { content: '\e816'; } /* '' */
.vi-part-category-mast:before { content: '\e817'; } /* '' */
.vi-part-category-wheel-house:before { content: '\e818'; } /* '' */
.vi-part-category-safety:before { content: '\e819'; } /* '' */
.vi-part-category-propulsion:before { content: '\e81a'; } /* '' */
.vi-part-category-piping:before { content: '\e81b'; } /* '' */
.vi-part-category-nautical-equipment:before { content: '\e81c'; } /* '' */
.vi-collision:before { content: '\e81d'; } /* '' */
.vi-part-category-gas-oil:before { content: '\e81f'; } /* '' */
.vi-part-category-air-conditioning:before { content: '\e820'; } /* '' */
.vi-part-category-cargo-hold:before { content: '\e821'; } /* '' */
.vi-part-category-generator:before { content: '\e822'; } /* '' */
.vi-part-category-engine:before { content: '\e823'; } /* '' */
.vi-part-category-engine-component:before { content: '\e824'; } /* '' */
.vi-overflow:before { content: '\e825'; } /* '' */
.vi-part-category-propeller-shaft:before { content: '\e826'; } /* '' */
.vi-part-category-pump:before { content: '\e827'; } /* '' */
.vi-vessel-formation:before { content: '\e828'; } /* '' */
.vi-barge:before { content: '\e829'; } /* '' */
.vi-ship:before { content: '\e82a'; } /* '' */
.vi-equipment_failure:before { content: '\e82b'; } /* '' */
.vi-near_misses:before { content: '\e82c'; } /* '' */
.vi-bunkerstation:before { content: '\e82d'; } /* '' */
.vi-financial-estimation:before { content: '\e82f'; } /* '' */
