@font-face {
  font-family: 'vemicons';
  src: url('../font/vemicons.eot?27510702');
  src: url('../font/vemicons.eot?27510702#iefix') format('embedded-opentype'),
       url('../font/vemicons.woff2?27510702') format('woff2'),
       url('../font/vemicons.woff?27510702') format('woff'),
       url('../font/vemicons.ttf?27510702') format('truetype'),
       url('../font/vemicons.svg?27510702#vemicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'vemicons';
    src: url('../font/vemicons.svg?27510702#vemicons') format('svg');
  }
}
*/
[class^="vi-"]:before, [class*=" vi-"]:before {
  font-family: "vemicons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.vi-part-category-default:before { content: '\e800'; } /* '' */
.vi-checkpoint:before { content: '\e801'; } /* '' */
.vi-fatal_accident:before { content: '\e802'; } /* '' */
.vi-default:before { content: '\e803'; } /* '' */
.vi-junction:before { content: '\e804'; } /* '' */
.vi-part-category-communication:before { content: '\e805'; } /* '' */
.vi-terminal:before { content: '\e806'; } /* '' */
.vi-sluice:before { content: '\e807'; } /* '' */
.vi-bridge:before { content: '\e808'; } /* '' */
.vi-part-category-accommodation:before { content: '\e809'; } /* '' */
.vi-environmentally_hazardous:before { content: '\e80a'; } /* '' */
.vi-berth:before { content: '\e80b'; } /* '' */
.vi-loading_unloading_accident:before { content: '\e80c'; } /* '' */
.vi-loss_of_charge:before { content: '\e80d'; } /* '' */
.vi-fire_on_board:before { content: '\e80e'; } /* '' */
.vi-man_overboard:before { content: '\e80f'; } /* '' */
.vi-run_aground:before { content: '\e810'; } /* '' */
.vi-personal_injury:before { content: '\e811'; } /* '' */
.vi-part-category-navigation-system:before { content: '\e812'; } /* '' */
.vi-part-category-reservoir:before { content: '\e813'; } /* '' */
.vi-part-category-loading-pump:before { content: '\e814'; } /* '' */
.vi-part-category-battery:before { content: '\e815'; } /* '' */
.vi-part-category-winch:before { content: '\e816'; } /* '' */
.vi-part-category-mast:before { content: '\e817'; } /* '' */
.vi-part-category-wheel-house:before { content: '\e818'; } /* '' */
.vi-part-category-safety:before { content: '\e819'; } /* '' */
.vi-part-category-propulsion:before { content: '\e81a'; } /* '' */
.vi-part-category-piping:before { content: '\e81b'; } /* '' */
.vi-part-category-nautical-equipment:before { content: '\e81c'; } /* '' */
.vi-collision:before { content: '\e81d'; } /* '' */
.vi-part-category-gas-oil:before { content: '\e81f'; } /* '' */
.vi-part-category-air-conditioning:before { content: '\e820'; } /* '' */
.vi-part-category-cargo-hold:before { content: '\e821'; } /* '' */
.vi-part-category-generator:before { content: '\e822'; } /* '' */
.vi-part-category-engine:before { content: '\e823'; } /* '' */
.vi-part-category-engine-component:before { content: '\e824'; } /* '' */
.vi-overflow:before { content: '\e825'; } /* '' */
.vi-part-category-propeller-shaft:before { content: '\e826'; } /* '' */
.vi-part-category-pump:before { content: '\e827'; } /* '' */
.vi-vessel-formation:before { content: '\e828'; } /* '' */
.vi-barge:before { content: '\e829'; } /* '' */
.vi-ship:before { content: '\e82a'; } /* '' */
.vi-equipment_failure:before { content: '\e82b'; } /* '' */
.vi-near_misses:before { content: '\e82c'; } /* '' */
.vi-bunkerstation:before { content: '\e82d'; } /* '' */
.vi-financial-estimation:before { content: '\e82f'; } /* '' */
